/PILojaBrinquedoEscopo/dist/
/PILojaBrinquedoEscopo/PILojaBrinquedoEscopo/nbproject/private/
/PILojaBrinquedoEscopo/PILojaBrinquedoEscopo/dist/
/PILojaBrinquedoEscopo/PILojaBrinquedoEscopo/build/
/PILojabrinquedoEscopo/PILojaBrinquedoEscopo/dist/
/PILojabrinquedoEscopo/PILojaBrinquedoEscopo/build/
/PILojabrinquedoEscopo/PILojaBrinquedoEscopo/nbproject/private/